body { font-family: Verdana }
h1 {color: rgb(0, 0, 255);
    font-weight: bold;
    text-align: center;}

table {width: 60%;
    margin: auto;
    border-collapse: collapse;
    border: 1px solid rgb(0, 0, 0);}

caption {color: rgb(222, 179, 7);
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;}

th {background-color: rgb(145, 236, 131);
    text-align: center;
    font-weight: bold;
    padding: 30px;
    width: 100px;}

td {border: 1px solid rgb(0, 0, 0);
    text-align: center;
    padding: 8px;}

    .hores {font-size: 20px;
    padding: 10px;
    width: 180px;}

    .descans {font-size: 20px;
    padding: 15px;
    text-align: center;}

.LMSGI {background-color: rgb(241, 167, 195);}

.BD {background-color: rgb(249, 254, 216);}

.PED { background-color: rgb(38, 115, 98);}

.TUT {background-color: rgb(111, 173, 255);}

.AN {background-color: rgb(232, 223, 49);}

.SI {background-color: rgb(238, 255, 1);} 

.DIW {background-color: rgb(231, 112, 65);}

.IPOI {background-color: rgb(177, 18, 18);}

.descans {text-align: center;}